/*
====================================
Media Queries (Front Page)
====================================
*/

@media all and (max-width: 1170px) {
	.container {
		max-width:970px;
	}
	.content {
		max-width:870px;
	}
	.content-blog {
		max-width:770px;
	}
	.hero h1 {
		font-size: 55px;
	}
	.heroContent {
		padding:30px 0;
	}
	.full-portfolio {
		width:28%;
	}

	// Portfolio Section
	.portfolioItem:nth-child(odd) .portfolioContent:before {
		right:-6%;
	}
	.project-link {
	width:85%;
	}
}


@media all and (max-width: 970px) {

	.container {
		max-width:830px;
	}
	.content {
		// max-width:670px;
	}
	.content-blog {
		max-width:830px;
	}

	.heroContent {
		padding:15px 0;
	}

	.portfolioItem .portfolioContent {
		padding:10px 29px;
	}

	.portfolioItem:nth-child(odd) .portfolioContent:before {
		right:-7%;
	}

	// Portfolio Archive
	.portfolioContent-archive:before {
		top:-7%;
	}

	.portfolioContent-archive h2 {
		font-size: 17px;
		letter-spacing: 1.1px;
	}

	.archive-btn {
		width:45%;
	}

	.full-portfolio {
		width:35%;
	}
	.emailMe {
		width:32%;
	}
	form.myForm {
		width:50%;
	}

	//Blog
	.comment-list {
		padding-left:0;
	}
	.comment-list li.comment {
		padding-left:5px;
	}

}


@media all and (max-width: 785px) {
	.container {
		max-width:670px;
	}
	.content {
		max-width:670px;
	}
	.content-blog {
		max-width:570px;
	}

	.portfolioContent h3 {
		font-size: 16px;
		letter-spacing: 1.3px;
	}
	.portfolioItem .portfolioContent {
		padding: 30px 35px;
	}
	.portfolioItem:nth-child(odd) .portfolioContent:before {
	  right: -9%;
	}

	form.myForm {
		width: 60%;
	}
	//Portfolio Archive
	.portfolioItem-archive {
		width: calc(100% - (5px * 2));
	}

	//Portfolio Single
	.single-left-content h2 {
		font-size: 24px;
		&:after {
			margin:10px 0;
		}
	}
	.single-right-content h2 {
		padding-top:0;
		&:after {
			margin-bottom: 8px;
		}
	}
	.project-link {
		width:100%;
		font-size: 15px;
	}
	//Blog
	.blog-post-text h2 {
		font-size: 24px;
	}
	.blog-post-text h2:after {
		margin-top:15px;
	}
	.meta-data {
		margin: 0;
	}
	.entry-title {
		&:after {
			margin-bottom:15px;
		}
	}
	.entry-content img {
		max-width: 570px;
		height: auto;
	}
	.readMore {
		width:30%;
	}
	.navigation {
		font-size: 14px;
	}

}

@media all and (max-width: 768px) {
	.intro p {
		line-height: 1.4;
		margin-top:0;
	}

	.to-single {
		font-size: 14px;
		margin:5px auto;
		padding:8px;
	}

	.about {
		flex-direction:column;
	}

	.about-info {
		padding:15px 40px;
		width:100%;
	}

	.about-things {
		h2 {
			width:100%;
		}
		display: flex;
		flex-wrap:wrap;
		width:100%;
	}

	.factoid {
		flex-wrap:wrap;
		flex-direction:row;
		width:50%;
	}

}

@media all and (max-width: 700px) {
	//General Styling
	.container {
		max-width:600px;
	}
	.content {
		max-width:600px;
	}
	.content-blog,
	.entry-content img {
		max-width:600px;
	}
	.full-portfolio {
		width:40%;
	}
	.portfolioItem:nth-child(odd) .portfolioContent:before {
		right: -10%;
	}

	.emailMe {
	  width: 40%;
	}

	form.myForm {
		width:70%;
	}

	//About Page
	.about-things {
		margin-top:4%;
	}

	//Portfolio Archive
	.portfolioContent-archive h2 {
		font-size: 20px;
	}
	.archive-btn {
    width: 30%;
	}

	//Portfolio Single
	.single-left-content {
    width: 60%;
	}

	.single-right-content {
		width: 27%;
	}

	//Blog
	.meta-data {
	  margin: 10px 0;
	}

}

@media all and (max-width: 600px) {
	//General Styling
	.container {
		max-width:500px;
	}
	.content {
		max-width:500px;
	}
	.content-blog,
	.entry-content img {
		max-width:500px;
	}

	.nav-container {
		max-width: 550px;
	}

	//Front Page
	.hero h1 {
	  font-size: 50px;
	}
	section.welcome {
		padding: 25px 0 45px;
	}
	.short-about {
		flex-direction:column;
	}
	.intro,
	.welcome-photo-container {
		width: 100%;
	}
	.portfolioItem:nth-child(odd) .portfolioContent:before {
	  right: -12%;
	}
	.full-portfolio {
	  width: 50%;
	}
	.emailMe {
  	width: 45%;
	}

	//Portfolio Archive
	.archive-btn {
  	width: 40%;
	}
	//Portfolio Single
	.single-right-content {
  	width: 32%;
	}

}

@media all and (max-width: 500px) {
	//General Styling
	.container {
		max-width:450px;
	}

	.content {
		max-width:450px;
	}

	ul.menu li a {
		padding: 10px;
	}

	.content-blog,
	.entry-content img {
		max-width:450px;
	}

	.full-portfolio {
		width: 55%;
	}

	.portfolioItem:nth-child(odd) .portfolioContent:before {
	  right: -13%;
	}

	.emailMe {
	  width: 50%;
	}

	//About Page
	.about-info {
	  padding: 15px 25px;
	}
	.factoid {
		width:100%;
	}
	.factoid .fact-content {
		width:80%;
	}
	.about-info {
		padding:10px 20px;
	}
	.about-info p {
		font-size:18px;
	}
	.about-things {
		padding-top:5%;
	}

	//Portfolio Single Page
	.single-whole-content {
		flex-direction: column;
		align-items: center;
	}
	.single-left-content {
		width: 90%;
	}
	.single-right-content {
		width: 90%;
	}
}


//**====CHANGE TO MOBILE MENU====**//
@media all and (max-width: 414px) {
	//General Styling
	.container {
		max-width: 400px;
	}
	.content {
		max-width: 400px;
	}
	.content-blog,
	.entry-content img {
		max-width: 400px;
	}

	.nav-container {
		margin: 0 auto;
	}

	.beta-hero {
		margin-top:0;
	}

	h2:after {
		margin-bottom: 20px;
	}

	//Navigation Styling
	ul#menu-main {
		display: none;
	}

	nav {
		display: block;
		position: absolute;
		position: fixed;
		top: 0;
		background-color: white;
		margin-top: 0;
		z-index: 100;
	}

	.mobile-icon {
		display: block;
		position: absolute;
		padding-left: 10px;
		padding-top: 5px;
	}

	ul.menu li {
		width:100%;
	}

	//Front Page Styling
	.hero {
		height:80vh;
		h1 {
			font-size: 45px;
		}
	}

	.hero:after {
		height:80vh;
	}

	.intro {
		width: 90%;
		display: block;
		margin: 0 auto;
		padding: 10px;
	}

	section.welcome {
		margin-bottom: 0;
		padding: 25px 0 15px;
	}

	h2:after {
		margin-bottom:-5px;
	}

	.portfolioItem {
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	.portfolioItem:nth-child(odd) {
		flex-direction: column;
		align-items: center;
	}

	.portfolioItem .portfolioContent {
		width: 90%;
		&:before {
			display: none;
		}
	}

	.portfolioItem .portfolioImage {
		height: 200px;
		width: 90%;
	}

	.full-portfolio {
		width: 60%;
	}

	section.contact {
		margin-top: 20px;
	}

	.emailMe {
		width: 60%;
	}

	.contact-form {
		padding:50px 0;
	}

	form.myForm {
		width:75%;
	}

	//Portfolio Archive Page

	.portfolioItem-archive {
		width:100%;
		h2 {
			font-size:24px;
		}
		p {
			font-size: 20px;
		}
	}

	.portfolioContent-archive:before {
		top:-7%;
	}

	.archive-btn {
		width:50%;
	}

	//Blog
	.meta-data {
		margin:20px 0;
		font-size: 20px;
	}

	.blog-post-text {
		font-size: 18px;
		margin: 0 15px 25px;
		h2 {
			font-size: 28px;
			line-height: 1.4;
		}
		p {
			line-height: 1.8;
		}
	}

	.entry-content img {
		max-width:400px;
	}

	.readMore {
		width:45%;
	}

	.comments-title {
		font-size: 24px;
	}

	#respond {
		margin:0;
	}

	.comment-form {
		max-width:375px;
	}


}


@media all and (max-width: 375px) {
	.container {
		max-width:375px;
	}
	.content {
		max-width:375px;

	}
	.content-blog {
		max-width:375px;
	}

	.hero h1 {
  	font-size: 40px;
	}

	.full-portfolio {
		width:70%;
	}

	form.myForm {
		width:80%;
	}

}

@media all and (max-width: 320px) {
	//General Styling
	.container {
		max-width:300px;
	}
	.content {
		max-width:300px;

	}
	.content-blog {
		max-width:300px;
	}

	//Front Page
	.hero h1 {
  	font-size: 32px;
	}

	.emailMe {
		width: 75%;
	}

	//Blog
	.entry-content img {
		max-width: 320px;
	}
}
